[submodule "third_party/android/capstone"]
	path = third_party/android/capstone
	url = https://github.com/aquynh/capstone
	branch = 4.0.1
[submodule "third_party/android/libunwind"]
	path = third_party/android/libunwind
	url = git://git.sv.gnu.org/libunwind.git
	branch = master
[submodule "third_party/common/kubazip"]
	path = third_party/common/kubazip
	url = https://github.com/kuba--/zip
